<div class="container">
  <%= simple_form_for trip do |f| %>
    <%= f.association :school, include_blank: true %>
    <%= f.input :start_date, order: [:day, :month, :year], selected: 1.day.from_now %>
    <%= f.input :end_date, order: [:day, :month, :year], selected: 5.days.from_now %>
    <%= f.input :total_girls %>
    <%= f.input :total_boys %>
    <%= f.input :total_teachers %>
    <%= f.input :total_bus_drivers %>
    <%= f.submit t(".submit") %>
  <% end %>
</div>
