<tr>
  <td><%= trip.total_girls %></td>
  <td><%= trip.total_boys %></td>
  <td><%= trip.total_teachers %></td>
  <td><%= trip.total_bus_drivers %></td>
  <td><%= l(trip.start_date) %></td>
  <td><%= l(trip.end_date) %></td>
  <td><%= trip.group_name %></td>
</tr>
