<tr>
  <td><%= trip.school_name %></td>
  <td><%= l(trip.start_date) %></td>
  <td><%= l(trip.end_date) %></td>
  <td><%= trip.total_girls %></td>
  <td><%= trip.total_boys %></td>
  <td><%= trip.total_teachers %></td>
  <td><%= trip.total_bus_drivers %></td>
  <td>
    <%= link_to t("trips.index.edit"),
    edit_trip_path(trip),
    class: "list-button" %>
  </td>
  <td>
    <%= link_to t("trips.index.destroy"),
    trip_path(trip),
    method: :delete,
    class: "list-button" %>
  </td>
  <td>
    <%= link_to t("trips.show.add_families"),
    new_trip_trip_family_path(trip),
    class: "list-button" %>
  </td>
  <td>
    <%= link_to t("trips.index.show"),
    trip_path([trip]),
    class: "list-button" %>
  </td>
</tr>
