<%= render "sub_header" %>
<section class="tabs">
  <div class="tab current-trips active">
    <h1><%= t(".current_trips") %></h1>
    <%= link_to t(".add_trip"), new_trip_path, class: "link_button, button" %>
    <table class="list-table">
      <%= render "trips_table_header" %>
      <%= render @current_trips %>
    </table>
  </div>

  <div class="tab past-trips">
    <h1><%= t(".past_trips") %></h1>
    <table class="list-table">
      <%= render "trips_table_header" %>
      <%= render @past_trips %>
    </table>
  </div>

  <div class="tab all-trips">
    <h1><%= t(".all_trips") %></h1>
    <table class="list-table">
      <%= render "trips_table_header" %>
      <%= render @all_trips %>
    </table>
  </div>
</section>
