<nav class="sub-header">
  <ul>
    <li>
      <%= link_to t("trips.index.buttons.current"), current_trips_path,
        class: "button", data: { target: "current-trips" } %>
    </li>
    <li>
      <%= link_to t("trips.index.buttons.past"), past_trips_path,
        class: "button", data: { target: "past-trips" } %>
    </li>
    <li>
      <%= link_to t("trips.index.buttons.all"), all_trips_path,
        class: "button", data: { target: "all-trips" } %>
    </li>
  </ul>
</nav>

<section class="tabs">
  <div class="tab current-trips active">
    <h1><%= t(".current_trips") %></h1>
    <%= link_to t(".add_trip"), new_trip_path, class: "link_button, button" %>
    <table class="list-table">
      <%= render "trips_table_header" %>
      <%= render @current_trips %>
    </table>
  </div>

  <div class="tab past-trips">
    <h1><%= t(".past_trips") %></h1>
    <table class="list-table">
      <%= render "trips_table_header" %>
      <%= render @past_trips %>
    </table>
  </div>

  <div class="tab all-trips">
    <h1><%= t(".all_trips") %></h1>
    <table class="list-table">
      <%= render "trips_table_header" %>
      <%= render @all_trips %>
    </table>
  </div>
</section>
