<div class="table">
  <div class="tr th">
      <div class="td"><%= Family.human_attribute_name(:last_name) %></div>
      <div class="td"><%= Family.human_attribute_name(:first_name) %></div>
      <div class="td"><%= Family.human_attribute_name(:address) %></div>
      <div class="td"><%= Family.human_attribute_name(:capability) %></div>
      <div class="td"><%= Family.human_attribute_name(:preferred_gender) %></div>
      <div class="td"><%= Family.human_attribute_name(:prof) %></div>
      <div class="td"><%= Family.human_attribute_name(:bus_driver) %></div>
      <div class="td"><%= Family.human_attribute_name(:animals) %></div>
      <div class="td"><%= Family.human_attribute_name(:active) %></div>
    </div>
  </div>
