<div class="table">
    <div class="tr">
      <div class="td"><%= family.last_name %></div>
      <div class="td"><%= family.first_name %></div>
      <div class="td"><%= family.address %></div>
      <div class="td"><%= family.capability %></div>
      <div class="td"><%= family.preferred_gender %></div>
      <div class="td"><%= family.prof %></div>
      <div class="td"><%= family.bus_driver %></div>
      <div class="td"><%= family.animals %></div>
      <div class="td"><%= family.active %></div>
    </div>
</div>
