<tr>
  <td><%= family.last_name %></td>
  <td><%= family.first_name %></td>
  <td><%= family.address %></td>
  <td><%= family.capability %></td>
  <td><%= family.preferred_gender %></td>
  <td><%= family.prof %></td>
  <td><%= family.bus_driver %></td>
  <td><%= family.animals %></td>
  <td><%= family.active %></td>
</tr>
