<div class="container">
  <%= simple_form_for family do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :animals %>
    <%= f.input :capability %>
    <%= f.input :prof, as: :radio_buttons %>
    <%= f.input :preferred_gender, as: :radio_buttons, collection: [t(".f"), t(".m")] %>
    <%= f.input :bus_driver, as: :radio_buttons %>
    <%= f.input :active, as: :radio_buttons %>
    <%= f.submit t(".submit") %>
  <% end %>
</div>
