<nav class="sub-header">
  <ul>
    <li>
      <a href="#" class="button active" data-target="active-families">
        <%= t("families.index.button_active_families") %>
      </a>
    </li>
    <li>
      <a href="#" class="button" data-target="inactive-families">
        <%= t("families.index.button_not_active_families") %>
      </a>
    </li>
    <li>
      <a href="#" class="button" data-target="all-families">
        <%= t("families.index.button_all_families") %>
      </a>
    </li>
  </ul>
</nav>

<section class="tabs">
  <div class="tab active-families active">
    <p class="title"><%= t(".active_families") %></p>
    <%= link_to t(".add_family"), new_family_path, class: "link_button, button" %>
    <table>
      <%= render "families_table_header" %>
      <%= render @active_families %>
    </table>
  </div>

  <div class="tab inactive-families">
    <p class="title"><%= t(".not_active_families") %></p>
    <table>
      <%= render "families_table_header" %>
      <%= render @not_active_families %>
    </table>
  </div>

  <div class="tab all-families">
    <p class="title"><%= t(".all_families") %></p>
    <table>
      <%= render "families_table_header" %>
      <%= render @families %>
    </table>
  </div>
</section>
