<<<<<<< HEAD
<p class="title"><%= t(".title") %></p>
<div class="container">
  <%= simple_form_for @family do |f| %>
    <%= f.input :first_name, wrapper_html: { class: "sub_container" } %>
    <%= f.input :last_name, wrapper_html: { class: "sub_container" } %>
    <%= f.input :address, wrapper_html: { class: "sub_container" } %>
    <%= f.input :animals, wrapper_html: { class: "sub_container" } %>
    <%= f.input :capability, wrapper_html: { class: "sub_container" } %>
    <%= f.input :prof, as: :radio_buttons, wrapper_html: { class: "sub_container" } %>
    <%= f.input :preferred_gender, as: :radio_buttons, collection: ["Female", "Male"], wrapper_html: { class: "sub_container" } %>
    <%= f.input :bus_driver, as: :radio_buttons, wrapper_html: { class: "sub_container" } %>
    <%= f.input :active, as: :radio_buttons, wrapper_html: { class: "sub_container" } %>
    <%= f.submit t(".submit"), wrapper_html: { class: "sub_container" } %>
    <% end %>
</div>
=======
<p><%= t(".title") %></p>
<%= simple_form_for @family do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address %>
  <%= f.input :animals %>
  <%= f.input :capability %>
  <%= f.input :prof, as: :radio_buttons %>
  <%= f.input :preferred_gender, as: :radio_buttons, collection: [t(".f"), t(".m")] %>
  <%= f.input :bus_driver, as: :radio_buttons %>
  <%= f.input :active, as: :radio_buttons %>
  <%= f.submit t(".submit") %>
<% end %>
>>>>>>> d824e1a... Add translation for the families.new page to use f for Female and M for Male
