<p><%= t(".title") %></p>
<div class="container">
  <%= simple_form_for @family do |f| %>
    <%= f.input :first_name, wrapper_html: { class: "sub_container" }, wrapper_html: { class: "sub_container" } %>
    <%= f.input :last_name, wrapper_html: { class: "sub_container" } %>
    <%= f.input :address, wrapper_html: { class: "sub_container" } %>
    <%= f.input :animals, wrapper_html: { class: "sub_container" } %>
    <%= f.input :capability, wrapper_html: { class: "sub_container" } %>
    <%= f.input :prof, as: :radio_buttons, wrapper_html: { class: "sub_container" } %>
    <%= f.input :preferred_gender, as: :radio_buttons, collection: ["Female", "Male"], wrapper_html: { class: "sub_container" } %>
    <%= f.input :bus_driver, as: :radio_buttons, wrapper_html: { class: "sub_container" } %>
    <%= f.input :active, as: :radio_buttons, wrapper_html: { class: "sub_container" } %>
    <%= f.submit t(".submit"), wrapper_html: { class: "sub_container" } %>
    <% end %>
</div>
