<tr>
  <td><%= group.name %></td>
  <td><%= group.responsable_name %></td>
  <td><%= group.responsable_contact %></td>
  <td><%= l(group.start_date) %></td>
  <td><%= l(group.end_date) %></td>
  <td><%= group.notes %></td>
</tr>
