<tr>
  <td><%= group.name %></td>
  <td><%= group.responsable_name %></td>
  <td><%= group.responsable_contact %></td>
  <td><%= group.from_date %></td>
  <td><%= group.to_date %></td>
  <td><%= group.notes %></td>
</tr>
