<tr>
  <td><%= trip_family.total_girls %></td>
  <td><%= trip_family.total_boys %></td>
  <td><%= trip_family.total_techers %></td>
  <td><%= trip_family.total_bus_drivers %></td>
</tr>
<%= render "add_family_form" %>
