<div class="container">
  <%= simple_form_for school do |f| %>
      <%= f.input :name %>
      <%= f.input :responsible_name %>
      <%= f.input :responsible_contact %>
      <%= f.input :notes %>
      <%= f.submit t(".submit")%>
  <% end %>
</div>
