<div class="container">
  <%= simple_form_for school do |f| %>
    <%= f.input :name %>
    <%= f.input :responsable_name %>
    <%= f.input :responsable_contact %>
    <%= f.input :notes %>
    <%= f.submit t(".submit")%>
  <% end %>
</div>
