<tr>
  <td><%= school.name %></td>
  <td><%= school.responsible_name %></td>
  <td><%= school.responsible_contact %></td>
  <td><%= truncate(school.notes) %></td>
  <td><%= link_to t("schools.index.destroy"), school_path(school), method: :delete, class: "list-button" %></td>
  <td><%= link_to t("schools.index.edit"), edit_school_path(school), class: "list-button" %></td>
</tr>
